USE [master]
GO
/****** Objeto: Database [Telefonia] Fecha de script: 05/06/2026 20:20:26 ******/
CREATE DATABASE [Telefonia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Telefonia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\Telefonia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Telefonia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\Telefonia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Telefonia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Telefonia]
GO
/****** Objeto: User [telefonia_user] Fecha de script: 05/06/2026 20:20:27 ******/
CREATE USER [telefonia_user] FOR LOGIN [telefonia_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [telefonia_user]
GO
/****** Objeto: Table [dbo].[GruposTarifarios] Fecha de script: 05/06/2026 20:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GruposTarifarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_grupo] [varchar](10) NOT NULL,
	[costo_por_min_usd] [decimal](6, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CodigosPais] Fecha de script: 05/06/2026 20:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodigosPais](
	[prefijo] [varchar](6) NOT NULL,
	[nombre_pais] [varchar](60) NOT NULL,
	[id_grupo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[prefijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Tarifas] Fecha de script: 05/06/2026 20:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarifas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_llamada] [int] NOT NULL,
	[destino_grupo] [varchar](10) NOT NULL,
	[costo_por_min] [decimal](10, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_PrefijosConTarifa] Fecha de script: 05/06/2026 20:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- VISTA: Ver prefijo con su tarifa calculada
-- ============================================================

CREATE VIEW [dbo].[vw_PrefijosConTarifa] AS
SELECT
    cp.prefijo,
    cp.nombre_pais,
    gt.nombre_grupo,
    gt.costo_por_min_usd,
    gt.costo_por_min_usd * 550  AS costo_colones,
    t.costo_por_min             AS costo_en_tarifas
FROM CodigosPais     cp
JOIN GruposTarifarios gt ON cp.id_grupo     = gt.id
JOIN Tarifas           t  ON t.destino_grupo = gt.nombre_grupo
                          AND t.tipo_llamada  = 3;
GO
/****** Objeto: Table [dbo].[Cuentas] Fecha de script: 05/06/2026 20:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[numero_telefono] [varchar](15) NOT NULL,
	[tipo_servicio] [varchar](10) NOT NULL,
	[saldo] [decimal](14, 2) NOT NULL,
	[proveedor] [varchar](50) NOT NULL,
	[bono_mismo_proveedor] [decimal](14, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numero_telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Llamadas] Fecha de script: 05/06/2026 20:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Llamadas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[telefono_origen] [varchar](15) NOT NULL,
	[fecha_llamada] [int] NOT NULL,
	[hora_llamada] [int] NOT NULL,
	[telefono_destino] [varchar](20) NOT NULL,
	[costo_total] [bigint] NOT NULL,
	[duracion_segundos] [int] NOT NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuentas] ADD  DEFAULT ((0.00)) FOR [saldo]
GO
ALTER TABLE [dbo].[Cuentas] ADD  CONSTRAINT [DF_Cuentas_bono_mismo_proveedor]  DEFAULT ((0.00)) FOR [bono_mismo_proveedor]
GO
ALTER TABLE [dbo].[Llamadas] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[CodigosPais]  WITH CHECK ADD FOREIGN KEY([id_grupo])
REFERENCES [dbo].[GruposTarifarios] ([id])
GO
ALTER TABLE [dbo].[Llamadas]  WITH CHECK ADD  CONSTRAINT [FK_Llamadas_Cuentas] FOREIGN KEY([telefono_origen])
REFERENCES [dbo].[Cuentas] ([numero_telefono])
GO
ALTER TABLE [dbo].[Llamadas] CHECK CONSTRAINT [FK_Llamadas_Cuentas]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD CHECK  (([tipo_servicio]='POSTPAGO' OR [tipo_servicio]='PREPAGO'))
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [CK_Cuentas_bono_no_negativo] CHECK  (([bono_mismo_proveedor]>=(0)))
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [CK_Cuentas_bono_no_negativo]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [CK_Cuentas_saldo_no_negativo] CHECK  (([saldo]>=(0)))
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [CK_Cuentas_saldo_no_negativo]
GO
USE [master]
GO
